<div class="row top"></div>

<div class="row panel">
  <div class="large-9 columns">
    <h1> <%= @main_event.title   %> - Guest List </h1> 
  </div>
  
  <div class="large-3 columns">
  <%= button_to "Add a New Guest", new_main_event_guest_path(@main_event),class: "add_button button", :method => "get" %>
  </div>
</div>

<div class="row">
  <div class="large-8 columns">
    <%  @guests.each do |guest| %>
      <div class="row">
        <div class="large-6 columns">
          <h4> <%= link_to guest.last + ", " + guest.first, main_event_guest_path(@main_event, guest)%></h4>  
          <hr>
        </div>
      </div>    
    <% end %>
  </div>
</div>    
