<h1>hello world</h1>

<p> Hello <%= @guest.first %>! </p>

<p> You've been asked to attend <%= @main_event.title %></p>

<p> Please follow this <a href="http://arcane-citadel-4179.herokuapp.com/itinerary/<%= @guest.id %>">link to rsvp</a></p>



