<div class="row">
  <div class="large-4 columns">
    <h1>Create an Account</h1>
      
    <%= render 'form' %>
    <%= link_to "Signup with Facebook", user_omniauth_authorize_path(:facebook) %>
  </div>
</div>

<div class="row">
  <div class="large-4 columns">
    <h4><%= link_to "Take me Back to Homepage", root_path %></h4>
  </div>
</div>