<div class="row">
  <div class="large-6 columns">
    <h1>RSVP's</h1>
    <table>
      <% if @main_event.rsvp_sent %>
      <thead>
        <tr>
          <th> You have invited <%=@main_event.guests.count %> guests</th>
        </tr>
        <tr></tr>
      </thead>
        <p> Take a look at the home page to review the details </p>
      <% else %>
        <thead>
          <tr>
            <th width="200">Event</th>
            <th>Current Guests</th>
          </tr>
        </thead>
        <tbody>
          <% @sub_events.each do |subEvent| %>
            <tr>
              <td><%= link_to subEvent.title, main_event_sub_event_path(@main_event, subEvent) %> </td>
              <td><%= subEvent.guests.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
        <%= button_to "email rsvps", '#', class: "button" %>
      <%end%>
  </div>
</div>