// Place all the styles related to the Guest controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*.columns{
  border:1px solid black;
}*/
.delete_button{
  padding-left:22px;
}
.sidebar{
  width:138px;
}

.top{
  margin-top:20px;
}

.add_button{
  margin-top: 1rem;
}

.center_button{
  position: relative;
  display: block;
  margin: 0 auto;  
}
h5{
  margin-top:10px;
}
/*.submit_button{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 11px;
  margin-left: 75px;
}*/

.addGuestModal-name{
  margin-top:17px;
  font-size:1.3em;
}

.removeGuestModal{
  margin-top:30px;
}

.listEvents{
  padding-left:30px;
}