// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1#logo-font {
  font-family: 'Satisfy', cursive;
  font-size: 36px;
}

#drop {
  z-index: 2;
}

// .autoplay {
//   position: relative;
//   z-index: 1;
// }

// .autoplay img {
//   width: 100%;
//   height: 90%;
//   position: relative;
// }

.landing img {
  width: 100%;
  height: 90%;
  position: relative;
}

.button-group {
  z-index: 1;
  position: absolute;
  float: right;
}

#text-1 {
  font-family: 'Satisfy', cursive;
  font-size: 180px;
  text-align: center;
  position: absolute;
  bottom: 60%;
  left: 31%;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

#text-2 {
  font-family: 'Proxima Nova Light';
  font-size: 4em;
  text-align: center;
  position: absolute;
  bottom: 15%;
  left: 35%;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  

}

#text-3 {
  font-family: 'Proxima Nova Light';
  font-size: 4em;
  text-align: center;
  position: absolute;
  bottom: 5%;
  left: 15%;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
}

