// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#drop {
  z-index: 2;
}

.single-item {
  position: relative;
  z-index: 1;
}