// Place all the styles related to the MainEvent controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.sidebar{
  width:138px;
}

.top{
  margin-top:20px;
}

.edit_button{
    margin-top: 2rem;
}