// Place all the styles related to the SubEvent controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.details{
  padding-top:50px;
}

.guestName{
  font-size:2em;
  padding-top: 25px;
}

.topSpace{
  margin-top:20px;
}

/*.columns{
  border:1px solid black;
}
*/