<div class="row">
  <div class="large-10 columns">
    <h1>Thank you for RSVP'ing</h1>
    <h2>Have an Event coming up?  <%= link_to "Try us out", root_path %> for free!</h2>
  </div>
  <div class="large-2 columns"></div>
</div>