<header>

<!-- NAVIGATION BAR -->

    <% if current_user %>

      <nav class="top-bar">
        <ul class="title-area">
          <li class="name">
            <h1>BLACK TIE</h1>
          </li>
        </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>

            <a href="#" i class="fi-list" data-dropdown="drop"></a>
              <ul id="drop" class="[tiny small medium large content]f-dropdown" data-dropdown-content>
                <li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
                <li><%= link_to "Logout", session_path("current"), method: :delete %></li>
              </ul>
        </ul>
        </div>
      </nav>

    <% end %>

<!-- NAVIGATION BAR -->   

</header>